.header
{
    width: 30%;
    position: sticky;
    top: 0px;
    left: 35%;
    height: 40px;
    border-width: 1px;
    border-color: black;
    border-radius: 7px;
}

#selectNumber
{
    border-radius: 7px;
    outline: none;
    /* border: none; */
    font-family: "Montserrat";
    font-size: 25px;
    height: 40px;
    /* appearance: none; */
    width: 100%;
    background-color: white;
    text-align-last: center;
}

.title
{
    padding-top: 0px;
    text-align: center;
    font-family: "Montserrat";
    font-size: 4vw;
}
.pageContents
{
    margin: 100px auto;
}

canvas {
    background-color : #fff;
}

.totals
{
    text-align: center;
    font-family: "Montserrat";
}

.topText
{
    color: rgb(90,90,90);
    font-size: 5vw;
    margin-bottom: 10px;
}
@media screen and (min-width: 1000px) {
  .topNumber {
     font-size: 75px !important;
  }
  .topText {
     font-size: 46px;
  }
  .title {
     font-size: 36px;
  }
  .totals {
     font-size: 36px !important;
  }
}
.topNumber
{
    font-size: 8vw;
    margin-top: 0px;
    margin-bottom: 60px;
}

.safe
{
    font-size: 5vw;
}


ul
{
    list-style-position: inside;
}
#totalDeaths
{
    color: rgb(131,0,0);
}

#totalRecovered
{
    color: rgb(0,137,0);
}